<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cuea.notifications">
    <!-- allow internet on apk -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CUEA"
        tools:targetApi="31">
        <activity
            android:name=".StaffNotificationReport"
            android:exported="false" />
        <activity
            android:name=".AdminReportActivity"
            android:exported="false" />
        <activity
            android:name=".LecReportActivity"
            android:exported="false" />
        <activity
            android:name=".StaffNotificationOpenActivity"
            android:exported="false" />
        <activity
            android:name=".ReportViewActivity"
            android:exported="false" />
        <activity
            android:name=".StaffSendToOneActivity"
            android:exported="false" />
        <activity
            android:name=".StaffSendToDepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".StaffSendToSchoolActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAddUserActivity"
            android:exported="false" />
        <activity
            android:name=".AdminEditUserActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".StaffHomeActivity"
            android:exported="false" />
        <activity
            android:name=".StudentNotificationOpenActivity"
            android:exported="false" />
        <activity
            android:name=".StudentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>